@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;   
}
