@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive; 
}


.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb( 19, 22, 41);
    color: aliceblue;
}

.navbar {
   display: flex;
   justify-content: space-between; 
   padding: 2rem;
}
.navbar img{
    margin-left: 4em;
    margin-top: -7px;
}
.brand {
    margin-top: -7px;
    font-size: 44px;
    margin-left: 40px;
}

.brand span{
    color: rgb(222, 50, 59);

}

.menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 37px;
    font-size: 18px;
}

.menu li{
    list-style: none;
}

.menu a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.5em;
}   

.menu .active{
    color: rgb(222, 50, 59);

}
.menu a:hover {
    color: rgb( 19, 22, 41);
    background-color: rgb(85, 85, 85);
    background-size: 50vh, 10vw;
    transition: ease-in .3s;
    font-size: 1.9em;
    border: none;
    border-radius: 8px;   
}


.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    margin-top: -200px;
    font-size: 6em;
}
.main p{
    font-size: 2em;
    margin-bottom: .4em;
}
span{
    color: rgb(222, 50, 59);
}
.main img{
    border: 7px solid rgb(222, 50, 59);

}

img{
    max-width: 29vw;
    max-height: 29vw;
    margin-left: 290px;
}

.descargar-cv{
    font-size: 2em; 
    padding: 8px 18px;
    background-color: rgb(85, 85, 85);
    border: none;
    margin-top: 2px;
    border-radius: 10px; 
}
.descargar-cv:hover { 
    font-size: 2.1em; 
    padding: 9px 18px;
    background-color: rgb(222, 50, 59);
    transition: ease-in .2s;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.sobre img {
    width: 100%;
    max-height: 100%;
    margin-left: 0;
    grid-column: 1/5;
}

.sobre-info {
    grid-column: 5/10;
    padding: 2em;
    border: 5px solid rgb(222, 50, 59);
}

.sobre-info h2 {
    font-size: 3.5em;
}

.sobre-info p {
 color: rgb( 19, 22, 41);
 font-size: 2em;
 margin-bottom: 1em;
 margin-top: 1em;   
}

.divider {
    height: 4px;
    width: 60px;
    background-color: rgb(222, 50, 59);
    margin-top: 10px;
    margin-bottom: m;
}